
.redBox {
    width: 80%;
    height: 20%;
    background-color: RED;
}

#newTColor {
    font-family: Helvetica;
    font-size: 24px;
}

#wrapper main {
    font-size: 30px;
    margin: 1px;
    padding 15px;
    border: 1px solid red;
    box-shadow: 5px 10px #888888;
}